<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Employee Directory</title>

    <link rel="stylesheet" th:href="@{/static/css/demo.css}"/>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h3>Lista pracowników</h3>
    <hr>

    <a th:href="@{/employees/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Dodaj pracownika
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nazwisko</th>
            <th>Pensja</th>
            <th>Firma</th>
            <th>Akcje</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempEmployee : ${employees}">
            <td th:text="${tempEmployee.id}"/>
            <td th:text="${tempEmployee.lastName}"/>
            <td th:text="${tempEmployee.salary}"/>
            <td th:text="${tempEmployee.firm}"/>

            <td>
                <a th:href="@{/employees/showFormForUpdate(employeeId=${tempEmployee.id})}"
                   class="btn btn-info btn-sm">
                    Edytuj
                </a>

                <a th:href="@{/employees/delete(employeeId=${tempEmployee.id})}"
                   class="btn btn-danger btn-sm"
                onclick="if (!(confirm('Jesteś pewny, że chcesz usunąć tego pracownika?'))) return false">
                    Usuń
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>

</html>